<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- jQuery Datatables -->
    <link href="assets/css/jquery.dataTables.css" rel="stylesheet">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="#"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <!-- Search
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          -->
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="assets/images/faces/face1.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <!-- Admin name -->
                  <p class="mb-1 text-black">admin</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/tenant">
                  <i class="mdi mdi-account-multiple" style="color:#b66dff"></i> Tenant </a>
                <a class="dropdown-item" href="/product">
                  <i class="mdi mdi-package-variant " style="color:#b66dff"></i> Product </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i id="signout" class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreeen" id="fullscreen-button"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="assets/images/faces/face1.jpg" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Admin Name</span>
                  <span class="text-secondary text-small">Admin</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/product">
                <span class="menu-title">Product</span>
                <i class="mdi mdi-package-variant menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tenant">
                <span class="menu-title">Tenant</span>
                <i class="mdi mdi-account-multiple menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Tenant Page </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/tenant">Tenant</a></li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">List Tenant</h4>
                    </p>
                    <table id="tenantList" class="table table-striped">
                      <thead>
                        <tr>
                          <th> Tenant Id </th>
                          <th> Name </th>
                          <th> Tenant Name </th>
                          <th> Street Name </th>
                          <th> Phone Number </th>
                          <th> Status </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0; i < tenant.length; i++) { %>
                          <tr>
                            <td><%= tenant[i].tenant_id %></td>
                            <td><%= tenant[i].name %></td>
                            <td><%= tenant[i].tenant_name %></td>
                            <td><%= tenant[i].street_name %></td>
                            <td><%= tenant[i].tenant_phone_number %></td>
                            <% if(tenant[i].status==1) { %>
                              <td><a href='javascript:void(0)'><i class='menu-icon mdi mdi-checkbox-blank-circle' style='font-size:30px;color:green' ondblclick=changeAttach(<%= tenant[i].tenant_id %>,0) ></i></a></td>
                            <% } else {%>
                              <td><a href='javascript:void(0)'><i class='menu-icon mdi mdi-checkbox-blank-circle' style='font-size:30px;color:red' ondblclick=changeAttach(<%= tenant[i].tenant_id %>,1) ></i></a></td>
                            <% } %>
                          </tr>
                      <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i> by Snorlax</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <div style="display:none">
        <!-- Form Add Product -->
        <form class="forms-sample" method="POST" action="change_stat_tenant">
          <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Nama Product">
          </div>
          <div class="form-group">
            <label for="information">Informasi Product</label>
            <input type="number" class="form-control" id="status" name="status" placeholder="Informasi Product">
          </div>
          <button id="change" type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
        </form>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- Data Tables JS -->
    <script src="assets/js/jquery.dataTables.min.js"></script>	
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
    <script>
      //select table to work with jquery datatables
      var table = $('#tenantList').DataTable({
          "aLengthMenu": [[10, 20, -1], [10, 20, "All"]],
          "iDisplayLength": -1,
          "sPaginationType": "full_numbers",
          "fixedHeader": true,
          "order": [[ 0, "asc" ]],
          "columnDefs": [
          {
              targets: 0,
              width: "5%",
              
          },
          {
              targets: 3,
              width: "30%",
              
          },
          { 
              targets: -1,
              width: "5%",
              className: "text-center",
          }
      ]
      })

      function changeAttach(id,to){
        $("#id").val(id);
        $("#status").val(to);
        $("#change").click();
      }
    </script>
  </body>

  <% if(data !== ""){ %>
    <% if(error !== 1){ %>
      <!-- Show Pop Up Sukses Message -->
      <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-body">
              <h5 class="modal-title" id="exampleModalLabel">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= data %></strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
              </h5>
            </div>
        </div>
      </div>
      <button type="button" class="btn btn-success" id="showModal" style="margin-bottom:20px;display:none" data-toggle="modal" data-target="#myModalAdd">Add New Product</button>
      <script>$("#showModal").click()</script>
    <% } else { %>
      <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-body">
              <h5 class="modal-title" id="exampleModalLabel">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= data %></strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
              </h5>
            </div>
        </div>
      </div>
      <button type="button" class="btn btn-success" id="showModal" style="margin-bottom:20px;display:none" data-toggle="modal" data-target="#myModalAdd">Add New Product</button>
      <script>$("#showModal").click()</script>
    <% } %>
  <% } else { %>
    <!-- Hide Pop Up Message -->
    
  <% } %>


</html>